# Android Studio / IntelliJ
*.iml
.idea/
.DS_Store

# Gradle
.gradle/
build/
*/build/

# Local configuration
local.properties

# Android build output
captures/
.externalNativeBuild/
.cxx/

# Signing keys
*.jks
*.keystore

# Generated APK files
*.apk
